* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Default font */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Set background color to white */
}

/* New container for timer without background */
.timer-container {
    position: relative;
    z-index: 1; /* Ensure timer is above the background */
    text-align: center;
    padding: 20px; /* Add some padding */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333; /* Darker text color for contrast */
    font-family: 'Orbitron', sans-serif; /* Change font for the heading */
}

.timer-display {
    font-size: 6rem; /* Increase the size for prominence */
    font-weight: bolder; /* Make the font bolder */
    color: #333; /* Dark text color for visibility */
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Add shadow for better visibility */
    font-family: 'Orbitron', sans-serif; /* Change font for the timer display */
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem; /* Slightly larger font size for buttons */
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

